<% include ../partials/head %>
<% include ../partials/profile-header %>

    <main>
        <h2> Edit Profile </h2>
        <div id="edit-profile">
         <form name="edit" method="get" action='/editProfile'>
            <p id="username" name="username"><b>Username</b> : <%= username %>    </p>
            <p><b>Phone: </b> <input type="tel" id="phone" name="phone" placeholder="phone" value=<%= profile.phone %>></p>
            <p><b>Email: </b> <input type="email" id="email" name="email" placeholder="email" value=<%= profile.email %>></p>
            <p><b>Country</b> <input type="text" id="country" name="country" placeholder="country" value=<%= profile.country %>></p>
            <input type="submit" value="Edit" id="add_status">
         </form>
        </div>
    </main>

<% include ../partials/footer %>
