<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <form name="login" method="get" action='/login'>

                        <p><label>Username</label>
                            <input type="username" id="username" name="username" placeholder="username" required></p>
                        <p><label>Password</label>
                            <input type="password" id="passwords" name="passwords" placeholder="password" required></p>
                        <p>
                            <input type="submit" value="Login"></p>
                </form>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>