<% include ../partials/head %>
 <% include ../partials/header %>

<main>

        <form name="login" method="get" action='/login'>

                        <p><label>Username</label>
                            <input type="username" id="username" name="username" placeholder="username" required></p>
                        <p><label>Password</label>
                            <input type="password" id="passwords" name="passwords" placeholder="password" required></p>
                        <p>
                            <input type="submit" value="Login"></p>
                </form>
</div>

<% include ../partials/footer %>