<% include ../partials/head %>
<% include ../partials/profile-header %>

    <main>
        <h2> Profile Page </h2>
        <div id="profile">
            <p><b>Username</b> : <%= username %>    </p>
            <p><b>Phone: </b> <%= profile.phone %>  </p>
            <p><b>Email: </b> <%= profile.email %>  </p>
            <p><b>Country</b> <%= profile.country %></p>
        </div>
    </main>

<% include ../partials/footer %>
