<% include ../partials/head %>
<% include ../partials/profile-header %>

    <main>
        <form name="search" method="get" action='/searchResults'>

                        <p><label>Search</label>
                        <select name="searchdropdown">
                        <option value="phone">Phone</option>
                        <option value="email">Email</option>
                        </select>
                            <input type="text" id="searchname" name="searchname" placeholder="search by name or phone" required></li>
                            <input type="submit" value="Search"></p>

                </form>
    </main>

<% include ../partials/footer %>
